<style>
    .container { width: 800px; font-family: Arial, Helvetica, sans-serif;
    display: flex; flex-direction: column; }
</style>

<div class="container">
    <span>Oi, {{name}}!</span>
    <br />

    <p>Você solicitou alteração de senha.</p>

    <p>Para trocá-la, clique no link <a href={{link}}>{{link}}</a></p>

    <strong>Obrigado.</strong>

    <h3>Regzer</h3>
</div>